body {
  background: rgb(0,255,119);
  background: linear-gradient(32deg, rgba(0,255,119,1) 24%, rgba(76,255,163,1) 100%);
  font-family: Arial, Helvetica, Sans-Serif;
  color: #ffffff;
  margin: 0;
}
body[class="error"] {
  background: rgb(173,0,0);
  background: linear-gradient(32deg, rgba(173,0,0,1) 0%, rgba(255,76,76,1) 62%);
}

.title {
  text-align: center;
  font-size: 9vw;
  font-weight: bold;
  position: relative;
}

.logo{
  display: flex;
  justify-content: center;
  width: 40vw;
  height: 40vw;
  margin: auto;
  margin-top: 4em;
}

.sub-title {
 font-size: 4.5vw;
}

.spacing {
  width: 100%;
  height: 10vh;
  position: relative;
}

.spacing-small {
  width: 100%;
  height: 4vw;
  position: relative;
}

.section{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 5vw;
}


.section-white{
  padding-top: 5vw;
  padding-bottom: 5vw;
  color: rgba(0,0,0,0.5);
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
}

.section-icon{
  height: 0;
  width: 0;
}

.section-grid-element {
  margin-bottom: 1em;
}

form {
  position: relative;
  width:60vw;
  background-color: #fff;
  margin:auto;
  border-radius: 5px;
  padding:2em;
  color: black;
  box-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
}


form label{
  font-size: 3vw;
  margin-left: 2vw;
  color: rgba(0,0,0,0.5);
}

form[class="standard"] input{
  position: relative;
  width: 100%;
  height: 7vw;
  padding: 0.5em;
  border-radius: 10vw;
  border:1px solid rgba(0,0,0,0.3);
}

form[class="led_settings"] input{
  position: relative;
  width: 100%;
  height: 7vw;
}


form[class="standard"] input:focus{
  border:1px solid #3DDC84;
  outline:none;
  color: #3DDC84;
}


form input[type="submit"]{
  position: relative;
  text-align: center;
  display: inline-block;
  width: 100%;
  border: 2px solid #3DDC84;
  color: white;
  height: auto;
  background-color: #3DDC84;
  margin-top: 1vh;
  padding: 0.5em;
  font-weight: bold;
  font-size: 4vw;
  border-radius: 10vw;
}
input[class="normal"]{
    opacity: 0;
}
button[id="back-button"]{
    display: none;
}
button[id="back-button"][class="true"]{
  border-radius: 10vw;
  text-align: center;
  border: 4px solid white;
  display: inline;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 7vw;
  padding-right: 7vw;
  background-color: white;
  font-weight: bold;
  font-size: 4vw;
  mix-blend-mode: screen;
}

form input[type="reset"]{
  position: relative;
  text-align: center;
  display: inline-block;
  width: 100%;
  border: 2px solid #3DDC84;
  color: #3DDC84;
  height: auto;
  background-color: white;
  margin-top: 5vh;
  padding: 0.5em;
  font-weight: bold;
  font-size: 4vw;
  border-radius: 10vw;
}

@keyframes submit-hover {
  from {
    background-color: #3DDC84;
    color:white;
    }
  to {
    background-color: white;
    color: #3DDC84;
    cursor: pointer;
    }
}

@keyframes translucent-hover {
  from {
    background-color: white;
    color: rgba(0,0,0,0);
    }
  to {
    background-color: rgba(0,0,0,0);
    color: white;
    cursor: pointer;
    }
}

@keyframes reset-hover {
  from {
    background-color: white;
    color: #3DDC84;
    }
  to {
    background-color: none;
    color: white;
    cursor: pointer;
    }
}

button[id="back-button"][class="true"]:hover{
  background-color: rgba(0,0,0,0);
  color: white;
  animation-name: translucent-hover;
  animation-duration: 0.3s;
  cursor: pointer;
}

form input[type="submit"]:hover{
  background-color: white;
  color: #3DDC84;
  animation-name: submit-hover;
  animation-duration: 0.3s;
  cursor: pointer;
}

form input[type="reset"]:hover{
  background-color: #3DDC84;
  color: white;
  animation-name: reset-hover;
  animation-duration: 0.3s;
  cursor: pointer;
}

  form[class="led_settings"] input[type="color"] {
    outline: none;
    border: none;
    height: 9.5vw;
    width: auto;
    mask-image: url("../res/img/light_bulb.png");
    cursor: pointer;
    box-shadow: none;
  }

  .color-container{
    justify-content: center;
    display: grid;
    row-gap: 0;
  }

  .color-wrapper{
    display: grid;
    height: 15vw;
    width: auto;
    margin-top: -4.5vw;
    background: white;
    transform: rotate(360deg);
  }


  .color-container-picker{
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    mix-blend-mode: overlay;
  }

  .color-container-design{
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    height: 13vw;
    margin-top: 0.2vh;
  }

@media screen and (min-width: 1200px) {
  .section {
    grid-auto-flow: column;
    display: grid;
  }
  .section-icon {
    height: 25vw;
    width: 25vw;
    margin-top: 8vh;
    -webkit-filter: drop-shadow(5px 1px 0px rgba(0,0,0,0.1));
    -moz-filter: drop-shadow(5px 1px 0px rgba(0,0,0,0.1));
    filter: drop-shadow(5px 1px 0px rgba(0,0,0,0.1));
  }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  .section {
    grid-auto-flow: column;
    display: grid;
  }

  .section-icon {
    width: 15vw;
    height: 15vw;
    margin-top: 10vh;
    -webkit-filter: drop-shadow(5px 1px 0px rgba(0,0,0,0.1));
    -moz-filter: drop-shadow(5px 1px 0px rgba(0,0,0,0.1));
    filter: drop-shadow(5px 1px 0px rgba(0,0,0,0.1));
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .section {
    grid-auto-flow: column;
    display: grid;
  }

  .section-icon {
    width: 30vw;
    height: 30vw;
    margin-top: 10vh;
    -webkit-filter: drop-shadow(5px 1px 0px rgba(0,0,0,0.1));
    -moz-filter: drop-shadow(5px 1px 0px rgba(0,0,0,0.1));
    filter: drop-shadow(5px 1px 0px rgba(0,0,0,0.1));
  }
}

@media screen and (min-width: 800px) {
  .title {
     font-size: 70px;
  }

  .sub-title {
     font-size: 30px;
  }

  .logo {
    width: 25em;
    height: 25em;
  }

  form[class="standard"] {
    width: 25em;
  }

  form label{
    font-size: 20px;
    margin-left: 10px;
  }

  form[class="standard"] input{
    width: 400px;
    height: 35px;
    border-radius: 1.2em;
  }

  form[class="led_settings"] {
    width: 25em;
  }

  form[class="led_settings"] input{
      width: 400px;
      height: 35px;
  }

  form input[type="submit"]{
    width: 400px;
    height: 35px;
    font-size: 1.3em;
    justify-content: center;
    padding: 0.1em;
  }

  form input[type="reset"]{
    width: 400px;
    height: 35px;
    font-size: 1.3em;
    justify-content: center;
    padding: 0.1em;
  }

  button[id="back-button"][class="true"]{
    font-size: 40px;
  }

  form[class="led_settings"] input[type="color"] {
    height: 56px;
  }

  .color-wrapper {
    height: 80px;
    margin-top: -20px;
  }

  .color-container-design {
    height: 76px;
  }

  .spacing-small {
    height: 20px;
  }
}

::-webkit-color-swatch {
    border: none;
    padding: 0;
    transition: background-color 600ms ease-out;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
}

input:focus {
    outline: 0 none;
    border: transparent;
}


